
.myform{
    background-color: #e0d8d8;    
    padding: 50px;
}
.allcenter{
    text-align: center;
    text-align: -webkit-center;
}
.allimg{
    width: 50%;
    align-self: center;
}
.navu{
    justify-content: right;
}

.btncart{
    text-align: -webkit-right;
    text-align-last: justify;
    display: flex;
    justify-content: space-between;
}


.txtcenter{
    text-align: center;
}

.myicon{
    color: white;
}
#fileicon{
    color: black;
}
.info{
    text-align: center;
    padding: 10px;
}
.getinfo{
    text-decoration: none;
}